<tr>
  <td><%= params.ACRES %></td>
  <td><%= params.HEADS_PER_ACRE %></td>
  <td><%= params.ROW_SPACING %></td>
  <td><%= params.APP_AREA %></td>
  <td><%= params.SEEDS_PER_POUND %></td>
  <td><%= params.date_time.substr(0,params.date_time.indexOf(' ')) %></td>
  <td><%= params.date_time.substr(params.date_time.indexOf(' '),6) %></td>
  <td><%= params.longitude %></td>
  <td><%= params.latitude %></td>
  <td><a class='btn success' href="/measurements/<%= params.id %>">show</a></td>
  <td><a class='btn danger' href="/measurements/<%= params.id %>/delete">remove</a></td>
</tr>
