<tr>
  <td><%= params.value1 %></td>
  <td><%= params.value2 %></td>
  <td><%= params.value3 %></td>
  <td><%= params.value4 %></td>
  <td><%= params.value5 %></td>
  <td><%= params.longitude %></td>
  <td><%= params.latitude %></td>
  <td><a class='btn success' href="/measurements/<%= params.id %>">show</a></td>
  <td><a class='btn info' href="/measurements/<%= params.id %>/edit">edit</a></td>
  <td><a class='btn danger' href="/measurements/<%= params.id %>/delete">destroy</a></td>
</tr>
