<a class='btn back' href="/pages">&larr; index</a>
<% content.title = "Page talk" %>
<h1><%= params.measurement.title %> (page talk)</h1>
<dl>
  <dt><strong>Description</strong></dt>
  <dd><%= params.measurement.description %></dd>
</dl>
<div class="post-content">
  <%= params.measurement.talk %>
  <a class='btn success' href="/pages/<%= params.measurement.id %>">switch to content</a>
</div>
<a class='btn info' href="/pages/<%= params.measurement.id %>/edit_talk">edit talk</a>

